body {
  font-family: sans-serif;
}

h1 {
  font-size: 80px;
}

.projects {
  margin-left: 20px;
}

.links {
  font-size: 30px;
  font-weight: bold;
}

.sublinks {
  font-size: 20px;
}

.jumbotron img {
  float: right;
  height: 20%;
  width: 20%;
}
.titles {
  font-size: 20px;
}

.panel-body {
  font-size: 15px;
}

.hobbies {
  font-weight: bold;
}

body {
  background-color: beige;
}

.fa {
  padding: 10px;
  font-size: 100px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.jumbotron {
  border: 8px solid skyblue;
  padding: 4px;
}
